.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/cache
analysis/site_libs
data
data/*
output
output/*
renv
!renv
renv/**
!renv/activate.R
shiny
shiny/*
slides/
slides/*
